
/* OUR CODE HERE*/
.head
{
  text-align: center;
}
.bend
{
 writing-mode: vertical-lr;
 font-size: 20px;
 margin-right: 10px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  height: 50px;
}
.link 
{
  text-decoration: none;
}
.image
{
  width: 250px;
  height: 200px;
  padding: 20px;
}
.article
{
  display: flex;
  border-bottom: 5px solid red;
  font-family: Arial, Helvetica, sans-serif;
}
.text-content
{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.article2
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid deeppink;
}
.text-content2
{
  display: flex;
  flex-direction: column;
}
.image2
{
  width: 400px;
  height: 250px;
  padding: 20px;
}
.anchor
{
  text-decoration: none;
  font-size: 20px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.anchor2
{
  text-decoration: none;
  font-size: 17px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.advertize
{
  width: 300px;
  height: 500px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.line
{
  border-bottom: 3px solid red;
  width: 200px;
}
.maincontainer
{
  display: flex;
  gap: 100px;
}
.container 
{
  width: 170%;
}
.info
{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 50%;
}
.mainpage
{
  width: 90vw;
  display: flex;
  justify-content: center;
}
.infoTitle
{
  color: blue;
  font-size: 25px;
  font-weight: bold;
}
.infodec
{
  font-weight: bold;
  font-size: 20px;
}
.infoname
{
  font-size: 15px;
  font-weight: bold;
  font-family: cursive;
  color: red;
}
.infoHead
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.headtitle
{
  margin-left: 10px;
}
.socialMedia
{
  display: flex;
}
.facebook
{
  width: 50px;
  height: 50px;
}
.sky
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hand
{
  display: flex;
  gap: 20px;
}
.share
{
  position: fixed;
  left: 15px;
  top: 330px;
}
.DownArrow
{
  display: flex;
  align-items: center;
  gap: 5px;
}
.btnarrow
{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.backImg
{
  width: 30px;
  height: 30px;
  color: white;
}
.backBtn
{
  display: flex;
  justify-content: center;
}


/* code */
.TopTitle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.horezan{
  font-size: 2.5rem;
  text-align: center;
}
.ver{
  color: red;
  font-size: 1.6rem;
  font-weight: lighter;
  margin-right: 5px;
  transform: rotate(270deg);
}
.Navbar{
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
#NavHr{
  width: 99%;
}
#myLinks{
  font-size: 1.1rem;
  text-decoration: none;
}
#myLinks:hover{
  font-size: 1.3rem;
  font-weight: bold;
}

/* Navbar */

header li{
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
}
.flex{
  display: flex;
  justify-content: space-around;
}
.barIcon{
  font-size: 25px;
  background: none;
  color: rebeccapurple;
  display: none;
  border: none;
}



@media screen and (min-width:320px) and (max-width:480px) {
    
  .Navbar
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .maincontainer
  {
    display: flex;
    flex-direction: column;
  }

  .container
  {
    width: 100%;
  }
  .article
  {
    display: flex;
    flex-direction: column;
  }
  .image
  {
    width: 335px;
    height: 300px;
    padding: 20px;
  }
  .info
  {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .facebook
  {
    width: 45px;
  }
  .sky
  {
    display: flex;
    flex-direction: column;
  }
  .tata
  {
    display: flex;
    position: relative;
    left: -65px;
    top: 0px;
  }
  .share
  {
    display: none;
  }
  .infoTitle
  {
    font-size: 20px;
  }
  .infodec
  {
    font-size: 16px;
  }
  .image2
  {
    width: 355px;
    padding: 0px;
    padding-top: 10px;
  }
  .text-content2
  {
    padding: 20px;
  }
}